.header {
	background-image: url("../images/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	position: relative;
	height: 100vh;

	&__top {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.5s;
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100vh;
		max-width: 700px;
		bottom: 0;
	}

	&__title {
		color: $Color-primary-200;
		font-weight: 700;
		font-size: 50px;
		line-height: 68px;
		margin-bottom: 32px;
		margin-top: auto;
	}

	&__desc {
		margin-bottom: 72px;
		display: flex;
	}

	&__text {
		color: $Color-primary-200;
		margin-right: 20px;
		max-width: 295px;
	}

	&__link {
		display: inline-block;
		font-weight: 500;
		color: $Color-primary-200;
		line-height: 27px;
		padding: 13px 90px 16px;
		border: 2px solid $Color-primary-200;
		border-radius: 15px;
		margin-right: auto;
		margin-bottom: auto;
		transition: all 0.3s;

		&:hover {
			color: $Color-primary-100;
			background-color: $Color-primary-200;
			border: 2px solid $Color-primary-200;
		}

		&:active {
			color: $Color-primary-200;
			background-color: $Color-primary-100;
			border: 2px solid $Color-primary-200;
		}

		&:focus {
			color: $Color-primary-200;
			background-color: $Color-primary-100;
			border: 2px solid $Color-primary-200;
			opacity: 0.4;
		}
	}
}

.header__top.fixed {
	z-index: 100;
	background-color: $Color-primary-100;
}
