$Color-primary-100: #000000;
$Color-primary-200: #f8f8f8;
$Color-primary-300: #DF4E3C;

$Color-secondary-100:#AEAEAE;
$Color-secondary-200:#8D8D8D;
$Color-secondary-300:#BDBDBD;
$Color-secondary-400:#C4C4C4;
$Color-secondary-500:#ffffff;
$Color-secondary-600:#959595;
$Color-secondary-700:#507A36;

$Body-bg: #E5E5E5;